@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    margin: 0;
}

.body {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

/* Banner section styles */
.banner {
    background-image: url('../images/Banner\ Image.png');
    width: 100%;
    height: 600px;
    margin-top: 50px;
    border-radius: 15px;
}

.banner-title {
    color: white;
    text-align: center;
    padding-top: 190px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 15px;
}

.text1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;

}

.text2 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
}

/* Category section styles */
.categories-title {
    text-align: center;
    margin-top: 120px;
}
.categories-title img{
    margin-top: 48px;
}

.title1 {
    color: red;
    font-size: 82px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 0;
}

.title2 {
    color: red;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    margin-top: 30px;
    margin-bottom: 0;

}

.title3 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
    margin-top: 16px;
}

/* Welcome section styles */
.welcome-content {
    padding: 130px;
}

.welcome {
    margin-top: 120px;
    background-image: url('../images/Vectorrr.png');
    width: 100%;
    height: 600px;
}

.welcome1 {
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900px;
    letter-spacing: 7px;
    margin-bottom: 0;
}

.welcome2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 0;
}

.btn {
    color: white;
    font-family: Inert;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    padding-left: 20px;
}

.img {
    width: 50%;
    padding-top: 60px;

}

.welcome-title {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}


/* Portfolio section styles */
.image1 {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;

}

.image2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 15px;
}

.portfolio1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;

}

.portfolio2 {
    color: black;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 0;
}

.portfolio3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.portfolio-content {
    margin-right: 400px;
}

.portfolio-image {
    margin-top: 45px;
}

.portfolio {
    margin-top: 120px;
}


/* Subscribe section styles */
.subscribe {
    margin-top: 120px;
    background-color: rgba(255, 0, 0, 0.05);
    width: 100%;
    height: 600px;
    border-radius: 15px;
}

.subscribe-content {
    padding: 80px 200px;
    text-align: center;
}

input {
    width: 550px;
    height: 25px;
    border: none;
    border-radius: 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
}

.subscribe-btn {
    position: relative;
    margin-top: 0;
}

.btn2 {
    position: absolute;
    bottom: 1px;
    right: 150px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: red;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 50px;
    margin-top: 35px;
}

.subscribe-content h2 {
    color: black;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 25px;
}

.subscribe-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.subscribe-content img {
    margin-bottom: 0;
}


/* Offer section styles */
.offer {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.offer-space {
    padding-right: 70px;
}

.offer-space2 {
    padding-top: 80px;
    padding-left: 100px;
}

.offer-space h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}

.offer-space h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.offer-space p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 28px;
}
.offer-space2 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px; 
}
.offer-space2 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}
.offer-space2 img{
    margin-top: 45px;
}

.offer-img {
    padding: 20px;
    border: 15px solid red;
    border-radius: 50%;
}

.offer-space {
    margin-top: auto;
    margin-bottom: auto;
}


/* Footer section styles */
.footer {
    margin-top: 120px;
    background-color: #070211;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-right: 140px;
    padding-left: 140px;
}
.phone-web{
    padding-right: 100px;
    line-height: 0px;
    
    
}

.hr {
    height: 1px;
    width: 1235px;
    background-color: gray;
    margin-left: 140px;
    margin-right: 140px;
}

.social-img {
    text-align: center;
    margin: 20px 0;
    
}
.gap{
    margin-left: 20px;
}


.unsubscribe{
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 140px;
    padding-left: 140px;
}
.icon{
    line-height: 40px;
    display: flex;
    gap: 20px;
}
.icon i{
    margin-top: 10px;
}




